[core]
    editor = nvim

[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
    tool = fugitive
[mergetool]
    prompt = true
[mergetool "fugitive"]
    cmd = nvim -f -c "Gdiffsplit!" "$MERGED"
    ; cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
    ; cmd = nvim -f -c 'Gvdiffsplit :3|Gvdiffsplit :2'
    ; cmd = nvim -f -c \"aboveleft Ghdiffsplit :1 | Gvdiffsplit! | wincmd j\"
    ; cmd = nvim -f -c 'abo Ghd :2 | abo Gvd! :3 | wincmd j'
