[merge]
	tool = fugitive
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	editor = nvim
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
