

/* ignore dir's used by vimrc */
undodir/
backup/
swp/
bundle/

# ignore all directories except few for .config
.config/*
!.config/alacritty/
!.config/helix/
!.config/kitty/
!.config/lf/
!.config/nvim/
!.config/nvim-new/
!.config/nvim-testplugin/
!.config/sheldon/
!.config/atuin/
!.config/fish/
!.config/k9s/plugins.yaml
!.config/k9s/k9s-stern.sh
