

/* ignore dir's used by vimrc */
undodir/
backup/
swp/
bundle/

# ignore all directories except few for .config
.config/*
!.config/alacritty/
!.config/helix/
!.config/kitty/
!.config/lf/
!.config/nvim/
!.config/sheldon/
!.config/fish/
